$--primary-color: #92270d;
$--second-color: #fff;
a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.container {
  max-width: 100.6rem;
  margin: 0 auto;
}
.top__link {
  height: 2.2rem;
  background-color: $--primary-color;
  &-container {
    display: flex;
    justify-content: flex-end;
  }
  &-menu ul {
    display: flex;
    justify-content: flex-end;
    & li a {
      padding: 0 2rem;
      color: $--second-color;
      line-height: 2.2rem;
      border-right: 1px solid $--second-color;
      transition: color 0.3s linear;
      &:hover {
        color: #dd8b0d;
      }
    }
    & li:last-child a {
      border: none;
    }
  }
  &-logo img {
    padding: 0.3rem;
  }
}
.banner {
  background-image: url("./image/banner-bg.jpg");
  height: 11rem;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__search {
    background-color: $--primary-color;
    height: 5.2rem;
    padding: 0 1rem;
    transform: skewX(10deg);
    &-input {
      margin-top: 1rem;
      background-color: $--second-color;
      padding: 0.1rem 0.5rem;
      & input {
        background-color: transparent;
        border: none;
      }
    }
    &-advanced {
      margin-top: 0.5rem;
      display: flex;
      justify-content: flex-end;
      & a {
        color: $--second-color;
        text-decoration: underline;
      }
    }
  }
}
.menu {
  background-image: url("./image/menu-bg.jpg");
  height: 6.6rem;
  background-repeat: repeat-x;
  &__container {
    background-color: $--primary-color;
    border: 0.25rem solid $--second-color;
    height: 100%;
    & > ul {
      display: flex;
      justify-content: flex-start;
      & li {
        border-right: 1px solid rgb(139, 78, 78);
        & a {
          color: $--second-color;
          font-weight: bold;
          line-height: 3.7rem;
          font-size: 1.2rem;
          padding: 0 2rem;
          transition: color 0.3s linear;
          &:hover {
            color: #dd8b0d;
          }
        }
      }
    }
  }
  &__sub {
    height: 45%;
    background-color: #be5234;
    border-top: 1px solid $--second-color;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
  // &__list {
  //   position: relative;
  // }
  &__item {
    display: none;
  }
}
.slide {
  height: 18.5rem;
  &__container {
    background-color: #f7e8be;
    border-radius: 1rem;
    margin-top: 1.5rem;
    position: relative;
  }
  &__image-list {
    display: flex;
    justify-content: space-evenly;
    padding: 1.8rem 0;
  }
  &__image-item img {
    border: 3px solid $--second-color;
  }
  &__prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
  }
  &__next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
.main {
  margin-top: 1.2rem;
  &__container {
    display: flex;
    justify-content: flex-start;
  }
  &__title {
    background-image: url("./image/main-title-bg.jpg");
    font-size: 1.2rem;
    height: 3rem;
    color: $--second-color;
    font-weight: bold;
    line-height: 3rem;
    padding-left: 1.5rem;
  }
  &__left {
    width: 233px;
    &-category {
      border-radius: 0.5rem;
      border: 1px solid #ccc;
      border-top: none;
    }
    &-list {
      margin-top: 2px;
      border-top: 1px solid $--primary-color;
      padding-bottom: 0.7rem;
    }
    &-item {
      background-image: url("./image/main-left-bg.jpg");
      height: 32px;
      a {
        margin-left: 4rem;
        color: $--primary-color;
        line-height: 32px;
      }
    }
    &-search {
      border: 1px solid #ccc;
      border-top: none;
      margin-top: 1.2rem;
      border-radius: 0.5rem;
      position: relative;
      &-content {
        padding: 1.5rem;
        text-align: right;
        &-book {
          & input {
            padding: 3px 0 3px 20px;
          }
        }
        &-category {
          margin-top: 1rem;
          & select {
            padding: 3px 0 3px 5px;
          }
        }
        &-author {
          margin-top: 1rem;
          & select {
            padding: 3px 0 3px 5px;
          }
        }
        &-idBook {
          margin-top: 1rem;
          & select {
            padding: 3px 0 3px 5px;
          }
        }
        &-btn {
          margin-top: 1rem;
          & button {
            padding: 3px;
            color: $--primary-color;
            font-weight: bold;
          }
        }
      }
      &-image {
        position: absolute;
        left: 5px;
        bottom: 7px;
      }
    }
    &-link {
      margin-top: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding-bottom: 10px;
      border-top: none;
      &-select {
        background-color: #f9efd1;
        text-align: center;
        padding: 10px 0;
        & select {
          padding: 2px;
        }
      }
    }
    &-image {
      text-align: center;
      margin-top: 1rem;
    }
  }
  &__content {
    width: 522px;
    height: 1020px;
    border: 1px solid #ccc;
    border-top: none;
    margin-left: 15px;
    border-radius: 5px;
    &-title {
      background-image: url("./image/main__content-title.jpg");
      font-size: 1.2rem;
      height: 3rem;
      color: $--primary-color;
      font-weight: bold;
      line-height: 3rem;
      padding-left: 4rem;
    }
    &-main {
      border-top: 3px solid $--primary-color;
      border-bottom: 3px solid #e5ad9d;
      &-list {
        margin-top: 10px;
        margin-left: 5px;
      }
      &-item {
        display: flex;
        margin-top: 15px;
        background-image: linear-gradient(to bottom, #fff, #f1f1f1);
        &-image {
          border: 1px solid #dec88a;
          margin-right: 10px;
          & img {
            padding: 4px;
          }
        }
        &-content {
          position: relative;
          & a {
            color: $--primary-color;
            font-weight: bold;
            font-size: 12px;
          }
          &-origin {
            margin-top: 10px;
            line-height: 1.5;
            &-author span {
              font-weight: bold;
            }
            &-book span {
              color: red;
              font-weight: bold;
              font-size: 13px;
            }
          }
          &-desc {
            margin-top: 15px;
            line-height: 1.4;
          }
          &-btn {
            display: inline-block;
            background-image: url("./image/item-btn.jpg");
            height: 3rem;
            line-height: 3rem;
            padding: 0 15px;
            position: absolute;
            right: 0;
            bottom: 0;
            cursor: pointer;
          }
        }
      }
    }
    &-footer {
      &-list {
        display: flex;
        justify-content: flex-end;
      }
      &-item {
        border: 1px solid #e5ad9d;
        padding: 6px;
        margin: 5px 5px 0 0;
      }
    }
  }
  &__right {
    width: calc(100% - 233px - 522px);
    margin-left: 1.5rem;
    &-support-content {
      margin-top: 2px;
      border: 1px solid #ccc;
      border-top: 1px solid $--primary-color;
      border-radius: 5px;
      padding-bottom: 5px;
      &-list {
        background-image: linear-gradient(to bottom, #fff, #f1f1f1);
        padding: 1px;
      }
      &-item {
        margin: 15px;
        display: flex;
        & a {
          color: $--primary-color;
          font-weight: bold;
          font-size: 12px;
          margin-top: 5px;
          margin-left: 15px;
        }
        &:nth-child(2) a {
          margin-left: 8px;
        }
      }
    }
    &-new {
      margin-top: 10px;
      &-content {
        margin-top: 2px;
        border: 1px solid #ccc;
        border-top: 1px solid $--primary-color;
        border-radius: 5px;
        padding-bottom: 5px;
        &-item {
          padding: 15px;
          background-image: linear-gradient(to bottom, #fff, #f1f1f1);
          & a {
            display: flex;
            & img {
              border: 1px solid $--second-color;
            }
            & p {
              padding-left: 10px;
              color: black;
              line-height: 1.3;
            }
          }
        }
      }
    }
    &-commingsoon {
      margin-top: 10px;
      &-content {
        margin-top: 2px;
        border: 1px solid #ccc;
        border-top: 1px solid $--primary-color;
        border-radius: 5px;
        padding-bottom: 5px;
        &-item {
          padding: 15px;
          background-image: linear-gradient(to bottom, #fff, #f1f1f1);
          display: flex;
          position: relative;
          &-content {
            margin-left: 10px;
            margin-bottom: 20px;
            & .title {
              line-height: 1.3;
            }
            & .author {
              margin-top: 15px;
              & span {
                font-weight: bold;
              }
            }
            & .book {
              margin-top: 5px;
              & span {
                font-weight: bold;
                color: red;
                font-size: 13px;
              }
            }
          }
          &-btn {
            height: 19px;
            width: 95px;
            background-color: #d26446;
            position: absolute;
            right: 0;
            bottom: 0;
            & a {
              color: $--second-color;
              line-height: 19px;
              padding-left: 15px;
            }
          }
        }
      }
    }
  }
}
footer {
  margin-top: 35px;
  border-top: 5px solid #ecdaaa;
  .footer__menu {
    background-color: $--primary-color;
    height: 35px;
    &-list {
      display: flex;
      justify-content: flex-start;
    }
    &-item {
      padding-right: 156px;
      &:last-child {
        padding-left: 80px;
      }
    }
    & a {
      color: $--second-color;
      line-height: 35px;
      font-weight: bold;
    }
    &-sub {
      height: 150px;
      background-color: #b44222;
      &-list {
        display: flex;
        justify-content: flex-start;
      }
      &-item {
        padding-right: 145px;
        & ul li {
          list-style: square;
          color: $--second-color;
          margin-top: 15px;
          & a {
            color: $--second-color;
          }
        }
      }
      &-logo {
        margin-top: 30px;
        margin-left: 60px;
      }
    }
    &-bottom {
      background-color: $--primary-color;
      & h3 {
        font-size: 12px;
        color: $--second-color;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 5px;
        border-bottom: 1px solid #b74c2e;
      }
      & ul {
        display: flex;
        justify-content: flex-start;
        margin-top: 15px;
        padding-bottom: 15px;
        & li {
          padding-right: 100px;
          border-right: 1px dashed #b74c2e;
          &:last-child {
            border: none;
            margin-left: 15px;
          }
          & h4 {
            font-weight: bold;
            color: $--second-color;
            padding-bottom: 5px;
          }
          & p {
            margin-top: 5px;
            color: $--second-color;
          }
        }
      }
    }
  }
}
